<?xml version="1.0" encoding="UTF-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.educacao"
        version   = "1.0.0">

   <name>Educação SP</name>

   <description>
      Aplicativo da Secretaria de Educação do Estado de São Paulo, com notícias, informações sobre os programas e projetos e contato.
   </description>

   <author href="http://www.a2comunicacao.com.br" email="info@a2comunicacao.com.br">
      Time de desenvolvimento da A2 Comunicação
   </author>

   <access origin="*"/>

   <!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
   <content src="index.html" />

   <preference name="loglevel" value="DEBUG" />
   <preference name="fullscreen" value="true" />
   <preference name="phonegap-version" value="2.9.0" />
   <preference name="orientation" value="default" />
   <preference name="target-device" value="universal" />
   <preference name="exit-on-suspend" value="false" /> 
   <!--
   <preference name="splashscreen" value="resourceName" />
   <preference name="backgroundColor" value="0xFFF" />
   <preference name="loadUrlTimeoutValue" value="20000" />
   <preference name="InAppBrowserStorageEnabled" value="true" />
   <preference name="disallowOverscroll" value="true" />
   -->
   <!-- This is required for native Android hooks -->
   <feature name="App">
      <param name="android-package" value="org.apache.cordova.App" />
   </feature>

   <!-- Icons -->
   <icon src="icon.png" />

   <icon src="icons/ios/icon.png" width="57" height="57" />
   <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
   <icon src="icons/ios/icon_at_2x.png" width="114" height="114" />

   <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
   <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
   <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />

   <icon src="icons/bb/icon.png" gap:platform="blackberry" />
   <icon src="icons/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/>
   
   <icon src="icons/winphone/icon.png" gap:platform="winphone" />
   <!-- winphone requires a jpg for the tile icons -->
   <icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />
   <icon src="icons/webos/icon.png" gap:platform="webos" />
   <icon src="icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" />

   <!-- Splash Screens -->
   <gap:splash src="splash.png" />
   <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
   <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
   <gap:splash src="splash/ios/Default.png" width="320" height="480" />
   <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
   <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
   <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
   <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
   <gap:splash src="splash/bb/splash.png" gap:platform="blackberry" />
   <gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />
</widget>
