.map {
	height: 200px;
	width: 100%;
}

.hold-map {
	min-height: 150px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.content img,
.content iframe {
	max-width: 100%;
	height: auto;
}

.content.loading + .top { opacity: 0; }

.posts,
.map-content { min-height: 125px; }

.loading {	
	background: transparent url(images/ajax-loader.gif) no-repeat center top;
	width: 100%;
	text-align: center;
	color: #666;
	font-size: 12px;
	padding-top: 60px;
	margin: 15px 0;
}

.loading-first {
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-position: center center;
	top: 0;
	padding-top: 0;
	margin-top: 0;
}

.loading-map {
	position: absolute;
}

.loading-first:after {
	content: 'Carregando app..';
	display: block;
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 40%;	
	width: 100%;
	height: 30px;
	margin-top: -15px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
}

.header {
	border-bottom: solid 3px #fe7325;
	background-image: url(../img/bandeira-governo-sp.png);
	background-position: top left;
	background-repeat: no-repeat;
}

.footer { 
	text-align: center;
	padding-bottom: 15px;
}

.top { clear: both; }