/*  Navegação
    ========================================================================== */
    .header {
        border-bottom: solid 3px #fe7325;
        background-image: url(../img/bandeira-governo-sp.png);
        background-position: top left;
        background-repeat: no-repeat;
    }

    .footer { 
        text-align: center;
        padding-bottom: 15px;
    }

    .top { clear: both; }

/*  Mapa
    ========================================================================== */
    .map {
        height: 200px;
        width: 100%;
    }

    .hold-map {
        min-height: 150px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

/*  Conteúdo (posts)
    ========================================================================== */
    .content img,
    .content iframe { max-width: 100%; }
    .content img {
        height: auto;
        width: 100%;
        max-width: 700px;
    }

    .content.loading + .top { opacity: 0; }

    .map-content { min-height: 125px; }

/*  Loading
    ========================================================================== */
    .loading {
        position: relative;
        background: transparent url(images/ajax-loader.gif) no-repeat center top;
        width: 100%;
        text-align: center;
        color: #666;
        font-size: 12px;
        padding-top: 60px;
        margin: 15px 0;
    }

    .loading:after {
        display: block;
        position: absolute;
        z-index: 99999;
        left: 0;
        top: 40%;
        width: 100%;
        height: 30px;
        margin-top: -15px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #fff;
    }

    .loading-programs:after {
        content: 'Carregando Programas e Projetos..';
        color: #999;
        top: auto;
        bottom: -25px;
    }

    .loading-posts:after {
        content: 'Carregando Notícias..';
        color: #999;
        top: auto;
        bottom: -25px;
    }

    .loading-map { position: absolute; }

    .loading-first {
        position: absolute;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background-color: #000;
        background-position: center center;
        top: 0;
        padding-top: 0;
        margin-top: 0;
    }

    .loading-first:after { content: 'Carregando app..'; }